/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* ///////////////////////reset above/////////////////////// */

body{
    font-family: Helvetica, sans-serif;
    font-weight: 300;
}
/* .list-group{
    width:20%;
    margin-right: 30px;
    cursor: move;
    cursor: -webkit-move;
} */

.glyphicon-move {
    cursor: move;
    cursor: -webkit-move;
    margin-left:2%;
  }


/* .container{
    display: flex;
} */

#list2{
    border:1px solid red;
    width:400px;
    height:200px;
}
.image{
    margin-top:10px;
    height: 150px;
}
#image1{
    background:#fff url(./images/demo-1.JPG) no-repeat;
    background-size: cover;
}
#image2{
    background:#fff url(./images/demo-2.JPG) no-repeat;
    background-size: cover;
}
#image3{
    background:#fff url(./images/demo-3.JPG) no-repeat;
    background-size: cover;
}
#image4{
    background:#fff url(./images/demo-4.JPG) no-repeat;
    background-size: cover;
}
#image5{
    background:#fff url(./images/demo-5.JPG) no-repeat;
    background-size: cover;
}
#image6{
    background:#fff url(./images/demo-6.JPG) no-repeat;
    background-size: cover;
}
#image7{
    background:#fff url(./images/demo-7.JPG) no-repeat;
    background-size: cover;
}
#image8{
    background:#fff url(./images/demo-8.JPG) no-repeat;
    background-size: cover;
}
#image9{
    background:#fff url(./images/demo-9.JPG) no-repeat;
    background-size: cover;
}
#image10{
    background:#fff url(./images/demo-10.JPG) no-repeat;
    background-size: cover;
}
#image11{
    background:#fff url(./images/demo-11.JPG) no-repeat;
    background-size: cover;
}
#image12{
    background:#fff url(./images/demo-12.JPG) no-repeat;
    background-size: cover;
}
#image13{
    background:#fff url(./images/demo-13.jpg) no-repeat;
    background-size: cover;
}
.container{
    max-width:1500px !important; 
    display: flex;
    flex-wrap: wrap;
    counter-reset: drag;
}
.container .counter{
    counter-increment: drag;
    color:transparent;
}
.container .counter:before{
    content: counter(drag);
}

.ghost{
    border-color: #999 !important;
	color: rgba(0,0,0,0.04);
}
.ghost .counter{
        color: rgba(0,0,0,0.5);
		font-size: 300%;
		font-weight:400;
}
.ghost .counter:before{
    position: absolute;
    vertical-align: middle;
    text-align: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: counter(drag);
}


.container-items{
    width:24%;
    margin-right:1%;
    margin-top:1%;
    border:1px solid rgba(0,0,0,0.1);
    border-radius:2px;
    position: relative;
    font-size:14px;
    padding-top: 0.2%;
    cursor:pointer;
}
.badge{
    background:#FAD065;
    width:2em;
    position: absolute;
    top:2%;
    right:2%;
    text-align: center;
}
.btnContainer{
text-align: center;
}

.btn{
    display: inline-block !important;
    padding:10px 45px;
    margin-top:-67px;
    margin-right:-960px;

}